# Backend
ANTHROPIC_API_KEY=sk-ant-your-key-here
OPEN_AI_KEY=sk-proj-your-key-here
HELICONE_API_KEY=pk-helicone-your-key-here
PORT=4242

# Web + Backend
STRIPE_SECRET_KEY='your stripe secret key' ## required for stripe
STRIPE_WEBHOOK_SECRET_KEY='your webhook secret key' ## required for stripe
STRIPE_SUBSCRIPTION_PRICE_ID='your subscription price id' ## required for stripe

# Web
DATABASE_URL='your database url' ## required for drizzle

APP_URL='your app url' ## required for next-sitemap and stripe

GOOGLE_SITE_VERIFICATION_ID='your google verification id' ## not required

GITHUB_ID='your github client ID' ## required for next-auth
GITHUB_SECRET='your github secret ID' ## required for next-auth

NEXTAUTH_SECRET='your next-auth secret' ## required for next-auth - generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_URL='http://localhost:3000' ## Only required for localhost
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY='your stripe publishable key' ## required for stripe